* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.container {
  width: 80%;
}

.logo {
  width: 100px;
  height: 30px;
  background-color: #0d28a6;
}

.btn {
  background-color: #5cb85f;
  border: none;
}

.hero {
  display: flex;
  padding-top: 20px;
}

.hero_text {
  width: 50%;
  margin-left: 11%;
  padding-top: 5%;
}

.hero_text h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
}

.hero_text p {
  width: 80%;
  text-align: justify;
  margin: 5% 0;
  font-size: 14px;
}

.hero_img {
  width: 70%;
}

.hero_img img {
  width: 100%;
}

.services {
  display: flex;
  width: 90%;
  margin: 5% auto 0;
  justify-content: space-around;
}

.services_img {
  width: 50%;
  margin-right: 10%;
}

.services_img img {
  width: 400px;
  padding-top: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 14px;
}

.services_text p {
  text-align: justify;
}

.info {
  display: flex;
  padding: 5px 0;
}

.icon_ceklis {
  width: 20px;
  margin-right: 10px;
}

.why_us {
  margin: 7% 0;
  font-size: 14px;
}

.why_us h5 {
  font-size: 16px;
  font-weight: 700;
}

.cards {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 23%;
  text-align: left;
  border: 1px solid rgb(216, 206, 206);
  border-radius: 8px;
  padding: 20px 15px;
  margin: 0;
}

.card img {
  width: 30px;
  padding-bottom: 20px;
}

.card h5 {
  padding-bottom: 15px;
}

.card p {
  margin: 0;
}

.testimonial {
  margin-top: 7%;
}

.testimonial .title,
.subtitle {
  text-align: center;
}

.cards_testi {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;
}

.card_testi {
  display: flex;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 0;
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: justify;
}

.info_testi {
  display: flex;
  flex-direction: column;
}

.foto {
  width: 70px;
  height: 70px;
  margin: 60px 40px 0;
}

.info_testi .stars {
  display: flex;
}

.info_testi .stars img {
  width: 20px;
  margin-bottom: 10px;
}

.info_testi p {
  line-height: 23px;
}

.info_testi h5 {
  margin-top: -10px;
}

.banner {
  margin: 5% 0;
  background-color: #0d28a6;
  color: white;
  text-align: center;
  padding: 50px;
  border-radius: 8px;
}

.banner h1 {
  font-size: 30px;
  font-weight: 700;
}

.banner_text {
  width: 50%;
  margin: 30px auto;
  font-size: 14px;
  line-height: 20px;
}

.question {
  display: flex;
  margin: 5% 0;
  justify-content: space-between;
}

.question_left {
  width: 40%;
}

.question_left h3 {
  font-size: 24px;
  font-weight: 700;
}

.question p {
  margin: 0;
  padding: 20px 0;
}

.question_right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.select_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgb(216, 206, 206);
  padding: 0 20px;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
}

.select_box img {
  width: 35px;
  height: 35px;
}

.footer {
  display: flex;
  margin: 5% 0;
  justify-content: space-between;
}

.footer_one {
  width: 20%;
  line-height: 23px;
}

.footer_two {
  width: 10%;
}

.footer_two p {
  font-weight: 600;
}

.footer_three {
  width: 20%;
}

.footer_four {
  width: 20%;
}

.sosmed {
  display: flex;
  justify-content: space-between;
}

.sosmed img {
  width: 30px;
  height: 30px;
}

/* responsive styling */
/* @media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .hero {
    flex-direction: column;
    width: 95%;
    margin: auto;
  }
  .hero_text {
    width: 100%;
    padding-top: 5%;
    margin: 0;
  }

  .hero_text p {
    width: 100%;
  }

  .hero_img {
    width: 100%;
    margin-top: 10%;
  }

  .hero_text p {
    width: 100%;
  }

  .hero_img img {
    padding-left: 3%;
  }

  .services {
    flex-direction: column;
    margin: 20% 0 0;
    width: 100%;
  }

  .services_img {
    width: 100%;
    margin: 0 0 10%;
    text-align: center;
  }

  .services_img img {
    width: 300px;
  }

  .why_us {
    margin: 10% 0 0;
  }

  .cards {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .card {
    width: 100%;
    margin-bottom: 5%;
  }

  .testimonial {
    width: 90%;
    margin: 10% auto 0;
  }

  .card_testi {
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    align-items: center;
    background-color: #f1f3ff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    padding: 30px;
  }

  .foto {
    margin: 0;
  }

  .info_testi .stars {
    justify-content: center;
    margin-top: 5%;
  }

  .banner {
    margin-top: 20%;
    padding: 20% 10%;
  }

  .banner_text {
    width: 80%;
  }

  .question {
    flex-direction: column;
    margin-top: 20%;
  }

  .question_left,
  .question_right {
    width: 100%;
    margin: 10px 0;
  }

  .select_box {
    margin-bottom: 20px;
  }

  .question p {
    padding: 8px 0;
  }

  .footer {
    flex-direction: column;
    margin-top: 20%;
  }

  .footer_one,
  .footer_two,
  .footer_three,
  .footer_four {
    width: 60%;
  }

  .sosmed {
    padding-bottom: 16px;
  }
} */

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .hero {
    flex-direction: column;
    width: 95%;
    margin: auto;
  }
  .hero_text {
    width: 100%;
    padding-top: 5%;
    margin: 0;
  }

  .hero_text p {
    width: 100%;
  }

  .hero_img {
    width: 100%;
    margin-top: 10%;
  }

  .hero_text p {
    width: 100%;
  }

  .hero_img img {
    padding-left: 3%;
  }

  .services {
    flex-direction: column;
    margin: 20% 0 0;
    width: 100%;
  }

  .services_img {
    width: 100%;
    margin: 0 0 10%;
    text-align: center;
  }

  .services_img img {
    width: 300px;
  }

  .why_us {
    margin: 10% 0 0;
  }

  .cards {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .card {
    width: 100%;
    margin-bottom: 5%;
  }

  .testimonial {
    width: 90%;
    margin: 10% auto 0;
  }

  .card_testi {
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    align-items: center;
    background-color: #f1f3ff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    padding: 30px;
  }

  .foto {
    margin: 0;
  }

  .info_testi .stars {
    justify-content: center;
    margin-top: 5%;
  }

  .banner {
    margin-top: 20%;
    padding: 20% 10%;
  }

  .banner_text {
    width: 80%;
  }

  .question {
    flex-direction: column;
    margin-top: 20%;
  }

  .question_left,
  .question_right {
    width: 100%;
    margin: 10px 0;
  }

  .select_box {
    margin-bottom: 20px;
  }

  .question p {
    padding: 8px 0;
  }

  .footer {
    flex-direction: column;
    margin-top: 20%;
  }

  .footer_one,
  .footer_two,
  .footer_three,
  .footer_four {
    width: 60%;
  }

  .sosmed {
    padding-bottom: 16px;
  }
}
